/* Created by Professor Wergeles for CS2830 at the University of Missouri */
body{
    background-image: url(images/82491325.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#informationBar{
    width: 100%;
    top: 2%;
    position: absolute;
}

/*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*/

#loginDropdown:hover #loginContent{
    background-color: #111;
    display: block;
}

#loginContent{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

fieldset{
    border: 0;
}

#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
    display: block;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

.submitButton{
      background-color: #e7e7e7; /* Gray */
    border: none;
    color: black;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submitButton:hover{
    background-color: white;
}
/*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*/
#wrapper{
    width: 630px;
    overflow: hidden;
    position:absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    margin-top: 20%;
}
#aboutBox{
    text-align: center;
    overflow: auto;
    width: 650px;
    height: 400px;
}

p{
    font-size: 36px;
    color: white;
}

/*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*//*--------------------*/
#searchBox{
  width: 30%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search{
    width: 100%;
    position: relative;
}

#searchBar{
  float: left;
  width: 100%;
  border: 3px solid gray;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}

#pokeimg{
    position: absolute;
    width: 25%;
    max-height: 500px;
    max-width: 500px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border-radius: 30px;
}

#name{
    text-transform: uppercase;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
}

#imgHolder{
    max-width: 100%;
}

.statHolderLeft{
    position: absolute;
    top: 57%;
    left: 30%;
    width: 10%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.statHolderRight{
    position: absolute;
    top: 57%;
    left: 70%;
    width: 10%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

#type{
    position: absolute;
    top: 85%;
    left: 50%;
    width: 10%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}